*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
    font-family: "FuturaNew", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #020202;
    background-color: #efefef;
}
/*---delete for mobile version---*/
body,
.container {
    min-width: 1140px;
}
/*---delete for mobile version---*/
.btn-clear {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    line-height: 1;
    border: none;
}
.btn-clear:focus {
    box-shadow: none;
}
.main-wrapper {
    padding-top: 82px;
}
.main {
    margin-bottom: 76px;
}
.header {
    width: 100%;
    height: 82px;
    background-color: #2e2e2e;
    padding: 20px 0 22px;
}
.logo {
    display: block;
    width: 65px;
    height: 35px;
}
.logo img {
    width: 100%;
    height: auto;
}
.header .nav-link,
.footer .nav-link {
    color: #fff;
    font-weight: 700;
    padding: .538rem 1.25rem;
}
.header .nav-link:hover,
.footer .nav-link:hover {
    color: #d0d6da;
}
.inputbox {
    position: relative;
}
.inputbox__input {
    border-radius: 1.25rem;
    background-color: #6b6b6b;
    border: none;
    color: #ebebeb;
    font-weight: 300;
    padding-right: 49px;
    padding-left: 1.25rem;
}
.inputbox__input::placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__input:-ms-input-placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__input::-ms-input-placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__input::-webkit-input-placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__input:-moz-placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__input::-moz-placeholder { color: #ebebeb; font-weight: 300; }
.inputbox__btn {
    font-size: 17px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 20px;
    color: #fcfcfc;
}
.inputbox__btn:hover {
    color: #222222;
}
.inputbox__input:focus {
    background-color: #5b5b5b;
    color: #ebebeb;
    box-shadow: 0 0 0 0.2rem rgba(77, 77, 77, 0.25);
}
.inputbox .icon {}
.btn-subscribe {
    background-color: #ffe400;
    color: #40474f;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: .638rem 2.25rem;
    border-radius: 1.25rem;
    border: none;
}
.btn-subscribe:hover {
    background-color: #e9d000;
}
.btn-subscribe:focus {
    background-color: #ffd800;
    box-shadow: 0 0 0 0.2rem rgba(77, 77, 77, 0.25);
}
.btn-subscribe > .icon {
    display: inline-block;
    transform: rotate(15deg);
    margin-left: 6px;
}
.nav-catalog {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.25);
    margin-bottom: 40px;
}
.nav-catalog .nav {
    justify-content: space-between;
}
.nav-catalog .nav .nav-item .nav-link {
    color: #2e2e2e;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem .5rem;
}
.nav-catalog .nav .nav-item:first-child .nav-link {
    padding-left: 0;
}
.nav-catalog .nav .nav-item:last-child .nav-link {
    padding-right: 0;
}
.nav-catalog .nav .nav-item .nav-link:hover {
    color: #2e2e2e;
    text-decoration: underline;
}
.page-title {
    color: #40474f;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 35px;
    line-height: 1.2;
}
.page-sort {
    margin-bottom: 16px;
    text-align: right;
}
.dropdown-sort {
    color: #40474f;
    font-weight: 500;
    font-size: 15px;
}
.dropdown-sort__btn {
    margin-left: 7px;
    line-height: 1;
    min-width: 148px;
    text-align: left;
    padding: .175rem 2.5rem .375rem .75rem;
    position: relative;
}
.dropdown-sort__btn:after {
    content: '\e900';
    width: 10px;
    height: 10px;
    font-size: 10px;
    border: none;
    position: absolute;
    right: 21px;
    top: 50%;
    margin-top: -4px;
    color: #c1c1c1;
}
.dropdown-sort__title {
    font-family: "FuturaNew", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #40474f;
}
.popular-list {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.25);
    padding: 15px 15px 25px;
}
.deallist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dealitem {
    flex: 0 0 24%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.25);
    text-decoration: none !important;
    margin-bottom: 10px;
    color: #2e2e2e !important;
}
.dealitem:not(:nth-child(4n+1)) {
    margin-left: calc( (100% - (24% * 4)) / 3 );
}
.dealitem:hover {
    box-shadow: 0 0 8px 0 rgba(77, 77, 77, 0.5);
}
.dealitem__info {
    padding: 15px 15px 25px;
}
.dealitem__img {
    display: flex;
    align-items: center;
    width: 110px;
    height: 110px;
    margin: 10px auto 20px;
}
.dealitem__img img {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}
.dealitem__text {
    font-weight: 500;
}
.dealitem__price {
    padding: 15px;
    border-top: 1px solid #dedede;
}
.dealitem__price-old {
    display: inline-block;
    text-decoration: line-through;
    margin-right: 11px;
}
.dealitem__price-now {
    display: inline-block;
    min-width: 70px;
    height: 22px;
    font-weight: 700;
    background-image: url('../img/label.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    padding: 0 10px 0 18px;
    border-radius: 7%;
}
.pagination {
    width: 100%;
    display: block;
    text-align: right;
    margin-top: 30px;
}
.pagination__btn {
    display: inline-block;
    background-color: #c1c1c1;
    text-transform: uppercase;
    font-size: 12px;
    color: #38372d;
    font-weight: 700;
    padding: 13px 15px;
    line-height: 1;
    border-radius: 20px;
}
.pagination__btn.active {
    background-color: #ffe400;
}
.pagination__btn:hover {
    color: #38372d;
    background-color: #c5c5c5;
    text-decoration: none;
}
.pagination__btn:active {
    color: #38372d;
    background-color: #dbdbdb;
    text-decoration: none;
}
.pagination__btn + .pagination__btn {
    margin-left: 12px;
}
.pagination__btn_prev {
    padding-left: 24px;
    padding-right: 24px;
}
.pagination__btn_next {
    padding-left: 24px;
    padding-right: 24px;
}
.sidebar {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.25);
}
.sidebar__row {
    border-bottom: 1px solid #dedede;
    padding: 20px 20px 18px;
}
.sidebar__row:last-child {
    border-bottom: none;
}
.sidebar__title {
    font-weight: 700;
    font-size: 15px;
    color: #40474f;
    text-transform: uppercase;
}
.sidebar__link {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.sidebar__votes {
    display: inline-block;
    background-color: #ffe400;
    font-size: 11px;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: 1;
}
.sidebar__bull {
    display: inline-block;
    color: #c1c1c1;
    font-size: 12px;
}
.sidebar__commets {
    display: inline-block;
    color: #c1c1c1;
    font-size: 17px;
    position: relative;
    top: 4px;
}
.sidebar__commets-num {
    display: inline-block;
    font-size: 11px;
    color: #020202;
    position: absolute;
    top: 2px;
    left: 24px;
}
.sidebar__raiting {
    display: block;
    margin-top: 11px;
}
.raiting-info {
    display: block;
    width: 90px;
    height: 14px;
    overflow: hidden;
    font-size: 1px;
    font-size: 0;
    position: relative;
}
.raiting-info.rate0 { width: 10px; }
.raiting-info.rate0 .icon {
    display: none;
}
.raiting-info.rate1 { width: 28px; }
.raiting-info.rate2 { width: 47px; }
.raiting-info.rate3 { width: 66px; }
.raiting-info.rate4 { width: 85px; }
.raiting-info.rate5 { width: 90px; }
.raiting-info.icon-star-half:before {
    font-size: 14px;
    color: #ffe400;
    position: absolute;
    right: 0;
    top: 0;
}
.raiting-info.rate5.icon-star-half:before {
    display: none;
}
.raiting-info .icon {
    display: inline-block;
    font-size: 14px;
    color: #ffe400;
}
.raiting-info .icon + .icon {
    margin-left: 5px;
}


.footer {
    width: 100%;
    height: 82px;
    background-color: #2e2e2e;
    padding: 20px 0 22px;
    margin-top: 76px;
}
.footer .btn-subscribe {
    background-color: #cccccc;
}
.footer .btn-subscribe:hover {
    background-color: #b8b8b8;
}
.footer .btn-subscribe:focus {
    background-color: #b3b3b3;
}